<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Sinh vien IUH</a>
        <ul>
            <li><a href="/StudentScore">Search StudentScore</a></li>
            <li><a href="/StudentScore/new">Add StudentScore</a></li>
        </ul>
    </nav>
</header>