@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/index.css';

:root {
    font-family: 'Nunito';
    font-size: 20px;
    color: hsl(200 , 100%, 70%);
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, hsl(200, 100%, 10%), hsl(200 , 100%, 20%));
}

.container { 
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}