<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Sinh vien IUH</a>
        <ul>
            <li><a href="/sinhvien">Search Sinh vien</a></li>
            <li><a href="/sinhvien/new">Add Sinh vien</a></li>
        </ul>
    </nav>
</header>