<h2 class="page-header">New StudentScore</h2>
<form action="/StudentScore" method="post">
    <%- include('_form_field') %>
    <div class="form-row form-row-end button-row">
        <a class="button button-danger" href="/StudentScore">Cancel</a>
        <button class="button button-primary" type="submit">Create</button>
    </div>
</form> 
